{% extends "base.html" %}
{% load url from future %}
{% block contents %}
<div class="container">
  <br />
  <div class="row">
    <div class="col-md-4">
      {% if form.errors %}
      <p>Eメールアドレスまたはパスワードが違います。</p>
      {% endif %}
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
	{% csrf_token %}
	<div class="form-group">
	  <label>username</label>
	  <input class="form-control" id="username" name="username" type="text" />
	</div>
	<div class="form-group">
	  <label>password</label>
	  <input class="form-control" id="password" name="password" type="password" />
	</div>
	<input class="btn btn-primary" type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

